
.table-light-theme th,
.table-light-theme td {
  border-color: #FFA07A; /* Light Salmon */
}

.table-light-theme thead th {
  background: linear-gradient(to right, #FFA07A, #ffa784); /* Gradient from Light Salmon to Pink */
  color: #fff; /* White text color */
}

.table-light-theme tfoot th {
  background-color: #FFA07A; /* Light Salmon */
  color: #fff; /* White text color */
}

.table-light-theme2 th,
.table-light-theme2 td {
  border-color: #FFA07A; /* Light Salmon */
}

.table-light-theme2 thead th {
  background: #84fab0;
  
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, rgba(132,250,176,0.85), rgba(143,211,244,0.85));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, rgba(132,250,176,0.85), rgba(143,211,244,0.85));
}

.table-light-theme2 tfoot th {
  background-color: #FFA07A; /* Light Salmon */
  color: #fff; /* White text color */
}

.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(246,211,101,0.85), rgba(253,160,133,0.85));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(246,211,101,0.85), rgba(253,160,133,0.85))
}

.gradient-custom2 {
  /* fallback for old browsers */
  background: #feada6;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(254,173,166,0.55), rgba(245,239,239,0.55));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(254,173,166,0.55), rgba(245,239,239,0.55))
}

.gradient-custom3 {
  /* fallback for old browsers */
  background: #37ecba;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(55,236,186,0.95), rgba(114,175,211,0.95));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(55,236,186,0.95), rgba(114,175,211,0.95))
}

.gradient-custom4 {
  /* fallback for old browsers */
  background: #30cfd0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(48,207,208,0.65), rgba(8,72,104,0.65));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(48,207,208,0.65), rgba(8,72,104,0.65))
}